@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'CoHeadline';
    src: url(/assets/fonts/CoHeadlineRegular.otf) format('opentype');
}

@font-face {
    font-family: 'San Francisco';
    src: url(/assets/fonts/SanFranciscoFont.otf) format('opentype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    padding: 14px 14px;
    background-color: $main-color;
    .header-content {
        display: flex;
        justify-content: space-between;
        .header-left_side {
            span {
                font-family: $main-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: $white;
                margin-right: 24px;
            }
            a {
                text-decoration: none;
                margin-right: 10px;
            }
        }
        .header-right_side {
            display: flex;
            gap: 16px;
            a {
            text-decoration: none;
            font-family: $main-font;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            font-style: bold;
            }
        }
    }
}

.contact {
    margin: 0 auto;
    .contact-row {
        justify-content: space-between;
        padding: 12px 0;
        .contact-phone {
            font-family: $extra-font;
            color: $main-color;
            @include display;
            text-align: left;
            .number {
                font-size: 25px;
                line-height: 25px;
            }
            .text {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -3%;
            }
        }
        .contact-logo {         
            display: flex;   
            justify-content: center;
        }
        .contact-profile {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
        }
    }
}

nav {
    margin: 0 auto;
    background-color: #F1F1F8;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 12px 0;
        li {
            a {
                text-decoration: none;
                color: $main-color;
                font-family: $main-font;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.banner-field {
    display: flex;
    padding-top: 127px;
    .banner-content {
        padding: 30px 0;
        h1 {
            font-family: $extra-font;
            font-size: 46px;
            line-height: 55px;
            letter-spacing: 0.2px;
            color: $black;
        }
        p {
            font-family: $main-font;
            font-size: 18px;
            line-height: 32px;
            margin-top: 24px;
        }
        .btn-dark {
            margin-top: 8px;
            padding: 16px 24px;
            border-radius: 100px;
            span {
                font-family: $main-font;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
    }
    .banner-image {
        margin-left: 60px;
    }
}

.slider {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 16px;
    span {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #F1F1F8;
    }
    :nth-child(2) {
        background-color: black;
    }
}
.banner-button{
    margin-top: 80px;
    padding: 24px 0;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        border-radius: 99px;
        span {
            font-family: $main-font;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            margin-left: 20px;
            margin-top: 16px;
        }
        img {
            margin: 4px;
        }
    }
}
.help-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border-radius: 99px;
        padding: 12px 12px 12px 32px;
        span {
            font-family: $main-font;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }
        img {
            margin-right: 12px;
        }
    }
}
.contact-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
    a {
        text-decoration: none;
    }
    button {
        border-radius: 99px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 22px 32px;
        span {
            font-family: $main-font;
            font-size: 16px;
            line-height: 24px;
            margin-left: 12px;
        }
    }
}

.appstore {
    margin-top: 17px;
    background: linear-gradient(100.93deg, $extra-color 0%,#FEF9F9 100%);
    .appstore-field {
        @include display;
        justify-content: space-between;
        align-items: center;
        .appstore-content {
            margin-top: 100px;
            h2 {
                font-family: $extra-font;
                font-size: 36px;
                line-height: 120%;
                color: $black;
                letter-spacing: 0.2px;
                text-align: center;
            }
        }
        .appstore-button {
            margin-top: 32px;
            display: flex;
            gap: 10px;
            a {
                text-decoration: none;
            }

        }
    }
}
.payment-content {
    margin-top: 200px;
    text-align: center;
    h2 {
        font-family: $extra-font;
        font-size: 36px;
        line-height: 43px;
    }
}
.payment-topic-row {
    justify-content: space-between;
    padding-top: 64px;
    .topic{
        @include display;
        align-items: center;
    }
    p {
        margin-top: 16px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        text-align: center;
        font-weight: bold;
    }
}

.tariff-field {
    background-color: $extra-color;
    margin-top: 184px;
    padding: 50px;
    border-radius: 24px;
    .tariff-title {
        text-align: center;
        p {
            margin-top: 16px;
            font-family: $main-font;
            font-size: 16px;
            line-height: 24px;
            color: #2F313E;
        }
    }
    .tariff-row {
        margin: 35px 50px 35px 62px;
        .tariff-weight {
            @include display;
            padding: 80px 32px 32px 50px;
            gap: 36px;
            span {
                @include pricetext;
            }
        }
        .tariff-price {
            border-radius: 12px;
            background-color: $white;
            @include display;
            padding: 24px 0 32px;
            gap: 36px;
            text-align: center;
            h1, span {
                @include pricetext;
                margin-bottom: 0;
            }
        }
        .normal {
            background-color: $white;
            padding: 24px 0 32px;
            h1 {
                color: $main-color;
            }
        }
        .liquid {
            background: rgba(255, 255, 255, 0.5);
            h1 {
                color: #DDB973;
            }
        }
    }
    .tariff-content {
        background-color: $white;
        padding: 24px 48px;
        span {
            font-family: $main-font;
            font-size: 16px;
            line-height: 24px;
            color: #2F313E;
        }
    }
}